# Exclude Everything!!!

/*

# Except the stuff i want to keep

# Gradle Stuff
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!build.properties
!settings.gradle

# Git Stuff
!.gitignore

# Other Important Folders
!debug.log
!src/